In [16]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("k397-673e", limit = 4000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,fiscal_year,payroll_number,agency_name,last_name,first_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_july_31,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,mid_init
0,2019,67,ADMIN FOR CHILDREN'S SVCS,IACCARINO,GIUSTINA,2002-09-16T00:00:00.000,MANHATTAN,ADM MANAGER-NON-MGRL FROM M1/M2,ACTIVE,63929.00,per Annum,1825.00,63753.83,0.00,0.00,0.00,NaN
1,2019,67,ADMIN FOR CHILDREN'S SVCS,BROWN,SHANIQUA,2017-07-17T00:00:00.000,MANHATTAN,CHILD WELFARE SPECIALIST,ACTIVE,53971.00,per Annum,1825.00,54604.05,25.75,592.32,3787.61,NaN
2,2019,67,ADMIN FOR CHILDREN'S SVCS,HUANG,GUAN,2016-08-29T00:00:00.000,MANHATTAN,CONGREG CARE SPEC - ACS,ACTIVE,41486.00,per Annum,1825.00,41728.09,350.68,12827.67,4431.58,T
3,2019,67,ADMIN FOR CHILDREN'S SVCS,SPINA,AMANDA,2017-02-06T00:00:00.000,QUEENS,CHILD PROTECTIVE SPECIALIST,ACTIVE,57070.00,per Annum,1755.00,56952.32,20.00,679.06,1373.81,T
4,2019,67,ADMIN FOR CHILDREN'S SVCS,CLARKE,DENIQUE,2018-04-23T00:00:00.000,BRONX,CHILD PROTECTIVE SPECIALIST,ACTIVE,53519.00,per Annum,1825.00,51856.51,205.50,6877.16,273.44,D

In [17]:
len(results_df)

3333080

In [30]:
payroll_df = results_df.copy(deep = True)

In [31]:
payroll_df[['fiscal_year']] = payroll_df[['fiscal_year']].astype(int)
payroll_df[['base_salary', 'regular_hours', 'regular_gross_paid', 
            'ot_hours', 'total_ot_paid','total_other_pay']] = payroll_df[['base_salary', 'regular_hours', 'regular_gross_paid', 
                                             'ot_hours', 'total_ot_paid', 'total_other_pay']].astype(float)
payroll_df['agency_start_date'] = payroll_df['agency_start_date'].str.replace("T00:00:00.000", "")
payroll_df['agency_start_date'] = pd.to_datetime(payroll_df['agency_start_date'], format = '%Y/%m/%d', errors = 'coerce')
payroll_df.head()

,fiscal_year,payroll_number,agency_name,last_name,first_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_july_31,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,mid_init
0,2019,67,ADMIN FOR CHILDREN'S SVCS,IACCARINO,GIUSTINA,2002-09-16,MANHATTAN,ADM MANAGER-NON-MGRL FROM M1/M2,ACTIVE,63929.0,per Annum,1825.0,63753.83,0.00,0.00,0.00,NaN
1,2019,67,ADMIN FOR CHILDREN'S SVCS,BROWN,SHANIQUA,2017-07-17,MANHATTAN,CHILD WELFARE SPECIALIST,ACTIVE,53971.0,per Annum,1825.0,54604.05,25.75,592.32,3787.61,NaN
2,2019,67,ADMIN FOR CHILDREN'S SVCS,HUANG,GUAN,2016-08-29,MANHATTAN,CONGREG CARE SPEC - ACS,ACTIVE,41486.0,per Annum,1825.0,41728.09,350.68,12827.67,4431.58,T
3,2019,67,ADMIN FOR CHILDREN'S SVCS,SPINA,AMANDA,2017-02-06,QUEENS,CHILD PROTECTIVE SPECIALIST,ACTIVE,57070.0,per Annum,1755.0,56952.32,20.00,679.06,1373.81,T
4,2019,67,ADMIN FOR CHILDREN'S SVCS,CLARKE,DENIQUE,2018-04-23,BRONX,CHILD PROTECTIVE SPECIALIST,ACTIVE,53519.0,per Annum,1825.0,51856.51,205.50,6877.16,273.44,D

In [33]:
payroll_trimmed_df = payroll_df[['fiscal_year', 'agency_name', 'last_name', 'first_name', 'mid_init', 'agency_start_date',
                                'work_location_borough', 'title_description', 'base_salary', 'pay_basis',
                                'regular_hours', 'regular_gross_paid', 'ot_hours', 'total_ot_paid', 'total_other_pay']]
payroll_trimmed_df.head()

,fiscal_year,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2019,ADMIN FOR CHILDREN'S SVCS,IACCARINO,GIUSTINA,NaN,2002-09-16,MANHATTAN,ADM MANAGER-NON-MGRL FROM M1/M2,63929.0,per Annum,1825.0,63753.83,0.00,0.00,0.00
1,2019,ADMIN FOR CHILDREN'S SVCS,BROWN,SHANIQUA,NaN,2017-07-17,MANHATTAN,CHILD WELFARE SPECIALIST,53971.0,per Annum,1825.0,54604.05,25.75,592.32,3787.61
2,2019,ADMIN FOR CHILDREN'S SVCS,HUANG,GUAN,T,2016-08-29,MANHATTAN,CONGREG CARE SPEC - ACS,41486.0,per Annum,1825.0,41728.09,350.68,12827.67,4431.58
3,2019,ADMIN FOR CHILDREN'S SVCS,SPINA,AMANDA,T,2017-02-06,QUEENS,CHILD PROTECTIVE SPECIALIST,57070.0,per Annum,1755.0,56952.32,20.00,679.06,1373.81
4,2019,ADMIN FOR CHILDREN'S SVCS,CLARKE,DENIQUE,D,2018-04-23,BRONX,CHILD PROTECTIVE SPECIALIST,53519.0,per Annum,1825.0,51856.51,205.50,6877.16,273.44